* {
  box-sizing: border-box;
}

:root[color-theme="light"] {
  --background-color: #fff;
  --emphasize-background-color: #eee;
  --text-color: #000;
  --border-color: #ccc;
  --tooltip-background: #333;
  --tooltip-text: #fff;
  --placeholder-border: #aaa;
  --small-button-background: #181818;
}

:root[color-theme="dark"] {
  --background-color: #121212;
  --emphasize-background-color: #222;
  --text-color: #e0e0e0;
  --border-color: #444;
  --tooltip-background: #333;
  --tooltip-text: #e0e0e0;
  --placeholder-border: #666;
  --small-button-background: #3e3e3e;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

#app {
  padding: 10px;
}

#character-buttons {
  width: 50%;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.character-portrait {
  width: 100%;
  transition: transform 0.2s;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.character-portrait:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

.character-portrait:active {
  transform: scale(0.95);
}

#main-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#detail-page {
  display: none;
}

#character-table {
  width: 100%;
  border-collapse: collapse;
  user-select: none;
}

#detail-page td {
  border: 1px solid var(--border-color);
  padding: 10px;
  vertical-align: top;
}

.left-col,
.right-col {
  width: 50%;
}

.item-block {
  width: 50px;
  height: 50px;
  margin: 5px;
  display: inline-block;
  position: relative;
}

.item-block.disabled {
  opacity: 0.5;
  cursor: normal;
}

.item {
  cursor: pointer;
}

.disabled .item {
  cursor: default;
}

.item-icon {
  width: 50px;
  height: 50px;
}

.placeholder {
  height: 50px;
  width: 50px;
  border: 1px dashed var(--placeholder-border);
  display: inline-block;
}

.item {
  position: relative;
}

.item-count {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #ffe;
  color: #444;
  border: 2px solid #cca;
  border-radius: 10px;
  padding: 1px 5px;
  font-size: 0.8em;
  font-weight: bold;
  z-index: 1;
  transform: translate(20%, 20%);
}

.tooltip {
  position: absolute;
  background-color: var(--tooltip-background);
  color: var(--tooltip-text);
  padding: 7px;
  border-radius: 5px;
  z-index: 1000;
  border: 1px solid #fff;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  max-width: 50%;
  white-space: pre-wrap;
  word-break: break-word;
  transition: opacity 0.2s, visibility 0.2s, transform 0.1s; /* transform 애니메이션 추가 */
  opacity: 0;
  visibility: hidden;
}

.tooltip.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0); /* 위치 변경 애니메이션 */
}

.header {
  padding: 0 20px;
  color: white;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-buttons {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
}

.github-icon {
  height: 1.6em;
  width: 1.6em;
}

@font-face {
  font-family: "Macondo";
  src: url("/assets/fonts/Macondo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#header-logo {
  font-family: "Macondo", sans-serif; /* 폰트 적용 */
  font-size: 1em;
  user-select: none; /* 드래그 방지 */
  cursor: pointer; /* 커서 포인터 */
  position: absolute; /* 위치 조정 */
  top: -1.5em;
  left: 50%; /* 가운데 정렬 */
  transform: translateX(-50%); /* 가운데 정렬 */
  padding: 0 0.3em; /* 좌우 여백 추가 */
}

#header-logo::before {
  content: attr(data-text);
  position: absolute;
  top: 50%; /* 위치 조정 */
  left: -0.3em; /* 좌측 여백 추가 */
  right: -0.3em; /* 우측 여백 추가 */
  transform: translateY(-50%); /* 위치 조정 */
  color: transparent;
  -webkit-text-stroke: 0.3em transparent;
  background: linear-gradient(to bottom, black, red);
  -webkit-background-clip: text;
  background-clip: text;
  z-index: -1;
}

#character-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.character-image {
  width: 40px;
}

.character-image,
#character-name {
  height: 40px;
  margin: 10px;
  display: inline-block;
  flex-shrink: 0;
}

.character-area-inline {
  display: flex;
}

.save-area-inline {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 10px;
}

.action-buttons {
  display: flex;
  align-items: center;
  gap: 4px;
}

.inline-box {
  border: 1px solid #fff;
  padding: 0 2px;
  margin: 1px;
  display: inline-block;
  border-radius: 3px;
  font-size: 0.8em;
  background-color: #333;
  font-weight: bold;
}

#save-notice {
  transition: 0.3s;
  margin-right: 10px;
  cursor: default;
  user-select: none;
  flex-grow: 1;
  word-break: break-all;
}

#save-notice.transparent {
  opacity: 0;
}

#load-popup,
#share-popup {
  position: fixed;
  min-width: 300px;
  max-width: 90vw;
  max-height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background-color: var(--background-color);
  padding: 0;
  border: 1px solid var(--border-color);
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  transition: opacity 0.2s, visibility 0.2s, transform 0.2s;
  opacity: 0;
  visibility: hidden;
}

#load-popup.show,
#share-popup.show {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

#mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
  transition: opacity 0.2s, visibility 0.2s;
}

#mask.show {
  display: block;
  opacity: 1;
  visibility: visible;
}

#load-title,
#load-buttons,
#share-title,
#share-buttons {
  text-align: center;
}

#load-buttons,
#share-buttons {
  margin-top: 20px;
  margin-bottom: 20px;
}

#share-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.share-item {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 10px;
  gap: 10px;
}

#share-text,
#share-uri {
  flex-grow: 1;
}

#share-text {
  resize: none;
  height: 10rem;
}

#copy-share-text,
#copy-share-uri {
  flex-shrink: 0;
}

#load-list {
  overflow-y: auto; /* Enable vertical scroll */
  max-height: 60vh;
  background-color: var(--background-color);
  border-radius: 5px;
}

.load-item-container {
  border-radius: 5px;
  margin: 10px;
  display: flex;
  align-items: center;
}

.load-item {
  display: inline;
  flex-grow: 1;
  padding: 10px;
  margin: 5px;
  transition: 0.2s ease;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  border-radius: 5px;
  max-width: 100%;
  text-wrap: wrap;
  word-break: break-all;
}
.load-item.deleting {
  color: red;
}
.load-item:not(.deleting):hover {
  cursor: pointer;
  background-color: var(--emphasize-background-color);
}

.delete-load-item,
.confirm-delete-load-item,
.cancel-delete-load-item {
  margin: 10px;
}

input[type="text"],
textarea {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: border-color 0.3s;
  flex-shrink: 0;
}

input[type="text"]:focus,
textarea:focus {
  border-color: #4caf50;
  outline: none;
}

#save-button,
#load-button {
  flex-shrink: 0;
}

.footer {
  margin-top: 20px;
}

@media (max-width: 768px) {
  #character-buttons {
    width: 100%;
  }

  .icon-buttons {
    justify-content: space-between;
  }

  #character-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .save-area-inline {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    width: 100%;
    align-items: flex-start;
  }

  #save-notice {
    min-height: 21px;
    margin-right: 0;
  }

  .action-buttons {
    width: 100%;
    margin-bottom: 10px;
  }

  #build-name {
    flex-grow: 1;
  }

  #save-button,
  #load-button,
  #share-button {
    flex-shrink: 0;
    height: 32px;
  }
}
