* {
  box-sizing: border-box;
}

:root {
  --background-color: #fff;
  --text-color: #000;
  --border-color: #ccc;
  --tooltip-background: #333;
  --tooltip-text: #fff;
  --placeholder-border: #aaa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --border-color: #444;
    --tooltip-background: #555;
    --tooltip-text: #e0e0e0;
    --placeholder-border: #666;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

#main-page #character-buttons {
  width: 50%;
  height: auto;
  margin: 0 auto;
  display: block;
}

#main-page .character-image {
  width: calc(33.33% - 20px);
  margin: 10px;
  display: inline-block;
  transition: transform 0.2s;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#main-page .character-image:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

#main-page .character-image:active {
  transform: scale(0.95);
}

#main-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#detail-page {
  display: none;
}

#detail-page table {
  width: 100%;
  border-collapse: collapse;
}

#detail-page td {
  border: 1px solid var(--border-color);
  padding: 10px;
  vertical-align: top;
}

#detail-page .left-col,
#detail-page .right-col {
  width: 50%;
}

#detail-page .item-block {
  width: 50px;
  height: 50px;
  margin: 5px;
  display: inline-block;
}

#detail-page .item {
  cursor: pointer;
}

#detail-page .item-icon {
  width: 50px;
  height: 50px;
}

#detail-page .placeholder {
  height: 50px;
  width: 50px;
  border: 1px dashed var(--placeholder-border);
  display: inline-block;
}

#detail-page .item {
  position: relative;
}

.tooltip {
  display: none;
  position: absolute;
  background-color: var(--tooltip-background);
  color: var(--tooltip-text);
  padding: 5px;
  border-radius: 5px;
  z-index: 1000;
  border: 1px solid #fff; /* 테두리 추가 */
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5); /* 검은 외곽선 추가 */
  max-width: 50%;
  white-space: pre-wrap;
  word-break: break-word;
}

#export-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 1000;
}

#export-data {
  white-space: pre-wrap;
  word-break: break-all;
  width: 500px;
  height: 300px;
  overflow: auto;
  border: 1px solid #eee;
  padding: 10px;
}

.header {
  color: white;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dark-mode-toggle {
  background: none;
  border: none;
  color: inherit;
  font-size: 1.5em;
  cursor: pointer;
  margin-left: 1em;
  transition: transform 0.2s;
}

#dark-mode-toggle:hover {
  transform: scale(1.2);
}

@font-face {
  font-family: "Macondo";
  src: url("/assets/fonts/Macondo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#header-logo {
  font-family: "Macondo", sans-serif; /* 폰트 적용 */
  font-size: 1em;
  user-select: none; /* 드래그 방지 */
  cursor: pointer; /* 커서 포인터 */
  position: relative; /* 위치 조정 */
  display: inline-block; /* 위치 조정 */
  padding: 0 0.3em; /* 좌우 여백 추가 */
}

#header-logo::before {
  content: attr(data-text);
  position: absolute;
  top: 50%; /* 위치 조정 */
  left: -0.3em; /* 좌측 여백 추가 */
  right: -0.3em; /* 우측 여백 추가 */
  transform: translateY(-50%); /* 위치 조정 */
  color: transparent;
  -webkit-text-stroke: 0.3em transparent;
  background: linear-gradient(to bottom, black, red);
  -webkit-background-clip: text;
  background-clip: text;
  z-index: -1;
}
