* {
  box-sizing: border-box;
}

#main-page #character-buttons {
  width: 50%;
  height: auto;
  margin: 0 auto;
  display: block;
}

#main-page .character-image {
  width: calc(33.33% - 20px);
  margin: 10px;
  display: inline-block;
  transition: transform 0.2s;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#main-page .character-image:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

#main-page .character-image:active {
  transform: scale(0.95);
}

#main-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#detail-page {
  display: none;
}

#detail-page table {
  width: 100%;
  border-collapse: collapse;
}

#detail-page td {
  border: 1px solid #ccc;
  padding: 10px;
  vertical-align: top;
}

#detail-page .left-col,
#detail-page .right-col {
  width: 50%;
}

#detail-page .item-block {
  width: 50px;
  height: 50px;
  margin: 5px;
  display: inline-block;
}

#detail-page .item {
  cursor: pointer;
}

#detail-page .item-icon {
  width: 50px;
  height: 50px;
}

#detail-page .placeholder {
  height: 50px;
  width: 50px;
  border: 1px dashed #aaa;
  display: inline-block;
}

#detail-page .item {
  position: relative;
}

.tooltip {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  z-index: 1000;
  border: 1px solid #fff; /* 테두리 추가 */
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5); /* 검은 외곽선 추가 */
  max-width: 50%;
  white-space: pre-wrap;
  word-break: break-word;
}

#export-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 1000;
}

#export-data {
  white-space: pre-wrap;
  word-break: break-all;
  width: 500px;
  height: 300px;
  overflow: auto;
  border: 1px solid #eee;
  padding: 10px;
}

.header {
  color: white;
  font-size: 2em;
  text-align: center;
  position: relative;
  user-select: none; /* 드래그 방지 */
}

#header-logo {
  cursor: pointer; /* 커서 포인터 */
}

#header-logo::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: transparent;
  -webkit-text-stroke: 0.3em transparent;
  background: linear-gradient(to bottom, black, red);
  -webkit-background-clip: text;
  background-clip: text;
  z-index: -1;
}
